<div class="container">
    <h1 class="page-header">Articles</h1>
    <form action="/parse/article" method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary">Parse</button>
    </form>
    <table class="table table-striped table-bordered">

        <thead>
            <tr>
                <td>Date</td>
                <td>Source</td>
                <td>Summary</td>
                <td>Words</td>
                <td>Del</td>
        </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.date }}</td>
                <td><a href='{{ article.url }}'>{{ article.domain }}</a></td>
                <td><a href='/view/article?id={{ article.id }}'>{{ article.title }}</a></td>
                <td><a href='/view/words?id={{ article.id }}'>view</a></td>
                <td><a href='/delete/article?id={{ article.id }}' class="btn btn-danger">×</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
