<h1 class="page-header">Articles</h1>
<form action="/parse/article" method="GET" class="form-horizontal" role="form">
    {% csrf_token %}
      <div class="input-group">
        <span class="input-group-addon">URL</span>
        <input type="text" class="form-control" name='url'>
        <span class="input-group-btn">
          <button class="submit btn btn-default" type="button">Load</button>
        </span>
      </div>
</form>
{% for article in articles %}
<div class="panel panel-warning">
    <div class="panel-heading">
        <table style="width: 100%">
            <tr>
                <td>
                    {{ article.date }}
                    <a href='{{ article.url }}' target="_blank" class="label label-success">{{ article.domain }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
                </td>
                <td style="text-align:right">
                    <a href='/delete/article?id={{ article.id }}' class="btn btn-danger btn-xs glyphicon glyphicon-trash" style="text-align: right;"></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body">
        <a href='/word/list?id={{ article.id }}' class="glyphicon glyphicon-list-alt"></a>
        <a href='/article/view?id={{ article.id }}'>{{ article.title }}</a>
    </div>
</div>
{% endfor %}
