<h1 class="page-header">
    {% if article_id == 0 %}
        All {{ mode }}s&nbsp;({{ words|length }})
    {% else %}
        <a href="/article/list?id={{ article_id }}">{{ title }}</a>&nbsp;({{ words|length }})
    {% endif %}
</h1>
<form action="/{{ mode }}/list" method="POST" id="wordform" class="form-horizontal" role="form">
    <input type="hidden" name="id" value="{{ article_id }}"/>
    {% csrf_token %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('table tr').click(function() {
            var $c = $(this).children('td').children('input[type=checkbox]');
            if($c.prop('checked')){
                $c.parent().parent().removeClass("success");
                $c.prop('checked', '');
            }else{
                $c.parent().parent().addClass("success");
                $c.prop('checked', 'checked');
            }
            updatebutton();
        });
        applycookie();
    });
    function updatelist(status, obj) {
        status = status.replace(' ', '_')
        if(obj.checked == true){
            document.cookie = status + '=true; path=/';
            $('.class' + status).show();
        }else{
            document.cookie = status + '=false; path=/';
            $('.class' + status).hide();
            $('.class' + status).removeClass("success");
            $.each($('.class' + status).find('input[type=checkbox]'), function(i, e){e.checked=false})
        }
        updatebutton();
    }
    function updatebutton(){
        if($('tbody').find('.success').length == 0)
            $('#statusdropdown').addClass('disabled')
        else
            $('#statusdropdown').removeClass('disabled')
    }
    function applycookie(){
        for( keyvalue of document.cookie.split('; ')){
            cookie = keyvalue.split( '=' );
            status = cookie[0].replace('_', ' ');
            {% for status, name in wordstatus %}
                if( status == '{{ status }}' ){
                    $('#checkbox{{ forloop.counter }}').prop('checked', eval(cookie[1]))
                    if(cookie[1] == 'false'){
                        $('.class' + cookie[0]).hide();
                        $('#checkbox{{ forloop.counter }}').parent().removeClass('active');
                    }
                }
            {% endfor %}
        }
    }
    </script>
    <input type="hidden" name="change_status" id="change_status" value=""/>
    <div class="btn-group" data-toggle="buttons">
    {% for status, label in wordstatus %}
        <label class='btn btn-{{ label }} btn-xs active'>
            <input type="checkbox" id='checkbox{{ forloop.counter }}' checked onchange="updatelist('{{ status }}', this)"/>{{ status }}
        </label>
    {% endfor %}
    </div>
    <div class="btn-group">
        <button type="submit" id="statusdropdown" class="btn btn-default dropdown-toggle btn-xs disabled" data-toggle="dropdown" aria-expanded="false">
            Change status
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for status, name in wordstatus %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:$('#change_status').val('{{ status }}'); $('#wordform').submit()">to <span class="label label-{{ name }}">{{ status }}</span></a></li>
            {% endfor %}
    	</ul>
    </div>
    <br/>
    <br/>
    <table class="table table-bordered">
        <tbody>
            {% for word in words %}
            <tr class="check{{word.id}} class{{word.statuslabel}}">
                <td class="list-group-item">
                        <input clas="wordcheck" type="checkbox" value="{{word.id}}" id="check{{word.id}}" name="check" style="display: none"/>&nbsp;
                    {% for status, label in wordstatus %}
                        {% if status == word.status %}
                            <span class="label label-{{ label }}">{{ status }}</span>
                        {% endif %}
                    {% endfor %}
                    {% if word.meaning == '' %}
                    {{ word.word }}
                    {% else %}
                    <a href="/{{ mode }}/view?id={{ word.id }}">{{ word.word }}</a>
                    {% endif %}
                    {% if word.imageurl %}
                    <span class="glyphicon glyphicon-picture"></span>
                    {% endif %}
                    <span class="badge">{{ word.cnt }}</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
