<script type="text/javascript">
function expand(ctrl){
    if( $('.' + ctrl).is(':hidden') ){
        $('.' + ctrl).show()
        $('.' + ctrl + '-button').removeClass('glyphicon-chevron-right')
        $('.' + ctrl + '-button').addClass('glyphicon-chevron-down')
    }else{
        $('.' + ctrl).hide()
        $('.' + ctrl + '-button').removeClass('glyphicon-chevron-down')
        $('.' + ctrl + '-button').addClass('glyphicon-chevron-right')
    }
}
function speech(text){
    var msg = new SpeechSynthesisUtterance();
    speechSynthesis.cancel();
    var voices = window.speechSynthesis.getVoices();
    msg.voice = voices[10];
    msg.volume = 1.0;
    msg.rate = 1.0;
    msg.pitch = 1.1;
    msg.text = text;
    msg.lang = 'en-US';
    speechSynthesis.speak(msg);
}
</script>

<h3 class="page-header">{{ title }}&nbsp;<span class="glyphicon glyphicon-volume-up" onclick="speech('{{ title }}')"></span></h3>
{% if test %}
{% include 'test.html' %}
{% endif %}
{% if word %}
<div class="panel panel-primary">
    <div class="panel-heading" onclick="expand('word-meaning')">
        <h3 class="panel-title" style="user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none;">意味&nbsp;<span class="glyphicon glyphicon-chevron-right word-meaning-button"></span></h3>
    </div>
    <div class="panel-body">
        <div class="word-meaning" hidden>
            {% if word.imageurl %}
            <img src="{{ word.imageurl }}" width="200"/><br/>
            {% endif %}
            {{ word.meaning }}
        </div>
    </div>
</div>
{% endif %}

{% if phrases %}
<div class="panel panel-primary">
    <div class="panel-heading" onclick="expand('phrase-meaning')">
        <h3 class="panel-title" style="user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none;">フレーズ&nbsp;<span class="glyphicon glyphicon-chevron-right phrase-meaning-button"></span></h3>
    </div>
    <div class="panel-body">
        {% for phrase in phrases %}
        <ul>
            <li>
                {{ phrase.phrase.phrase }}&nbsp;<span class="glyphicon glyphicon-volume-up" onclick="speech('{{ phrase.phrase.phrase }}')"></span>
                <ul class="phrase-meaning" hidden><li>{{ phrase.phrase.meaning }}</li></ul>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if examples %}
<div class="panel panel-primary">
    <div class="panel-heading" onclick="expand('example-meaning')">
        <h3 class="panel-title" style="user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none;">例文&nbsp;<span class="glyphicon glyphicon-chevron-right example-meaning-button"></span></h3>
    </div>
    <div class="panel-body">
        {% for example in examples %}
        <ul>
            <li>{{ example.example.sentence }}&nbsp;<span class="glyphicon glyphicon-volume-up" onclick="speech('{{ example.example.sentence }}')"></span></li>
            <ul class="example-meaning" hidden><li>{{ example.example.meaning }}</li></ul>
        </ul>
        {% endfor %}
    </div>
</div>
{% endif %}
