<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WordLearning</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% if active_article %}class="active"{% endif %}><a href="/article/list">Articles</a></li>
        <li {% if active_word_list %}class="active"{% endif %}><a href="/word/list">Words</a></li>
        <li {% if active_phrase_list %}class="active"{% endif %}><a href="/phrase/list">Phrases</a></li>
        <li {% if active_wordtest %}class="active"{% endif %}><a href="/word/test">Word Test</a></li>
        <li {% if active_phrasetest %}class="active"{% endif %}><a href="/phrase/test">Phrase Test</a></li>
      </ul>
    </div>
  </div>
</nav>
